#allg , #bes, #nah , #paar , #gr {
 margin-top:30px}
 #allg , #bes, #nah , #paar , #gr {
 margin-bottom:30px}
#klass , #funk {
  margin-bottom: 30px
}
 #bild1 {
   margin-top:100px
 }
 div.jumbotron {
   background-color: rgb(255,111,28)
 }
 body {
   background-color: #f7ba8b
 }
#jumbo {
  margin-bottom:20px"
}
#div1 {
  margin-top:30px
}
#div2 {
  margin-top: 50px
}
